body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}
#result .green {
  color: #2ecc71;
}

#result .red {
  color: #e74c3c;
}

.blue {
  color: rgb(0, 128, 255);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border: 5px solid black;
}

input {
  width: 70px;
    text-align: center;
    padding-left: 17px;
    font-size: 30px;
}